# toplevel
/.bundle/
/bin/
/vendor/

# anywhere in the tree
*~
.DS_Store
.ruby-version
coverage

wget-log

OmegaT_3.6.0_04_Mac.zip?r=https%3A%2F%2Fsourceforge.net%2Fprojects%2Fomegat%2F%3Fsource%3Dtyp_redirect
