language: objective-c

sudo: false

env:
  global:
    - LANG=en_US.UTF-8
    - LANGUAGE=en_US.UTF-8
    - LC_ALL=en_US.UTF-8

matrix:
  include:
    - env: OSX=10.11 HOMEBREW_RUBY=2.0.0
      os: osx
      osx_image: xcode7.2
      rvm: system
    - env: OSX=10.10 HOMEBREW_RUBY=2.0.0
      os: osx
      osx_image: xcode7.1
      rvm: system
    - env: OSX=10.9 HOMEBREW_RUBY=2.0.0
      os: osx
      osx_image: beta-xcode6.2
      rvm: system
  fast_finish: true

branches:
  only:
    - master

cache:
  directories:
    - /usr/local
    - $HOME/.gem

before_install:
  - . ci/travis/before_install.sh

install:
  - . ci/travis/install.sh

before_script:
  - . ci/travis/before_script.sh

script:
  - . ci/travis/script.sh

notifications:
  email: false
  irc:
    channels:
      - "chat.freenode.net#homebrew-cask"
    template:
      - "(%{repository_name}) %{build_number}: %{branch}@%{commit} %{author} -> %{message} %{build_url}"
    use_notice: true
    skip_join: true
  webhooks:
    urls:
      - "https://webhooks.gitter.im/e/712d699360b239db14a5"
    on_success: change
    on_failure: always
    on_start: never
