name: Sync templates and CI config.

on:
  push:
    branches:
      - master

jobs:
  sync_templates_and_ci_config:
    if: startsWith( github.repository, 'Homebrew/' )
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: ./.github/actions/sync
        with:
          args: /templates.rb
        env:
          HOMEBREW_GITHUB_API_TOKEN: ${{ secrets.HOMEBREW_GITHUB_API_TOKEN }}
